@import "./variables";
@import "./edit-user.module.scss";

.addNewUser {
  align-items: flex-start;
  justify-content: flex-start;
  aspect-ratio: initial;

  .confirmation {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 1.3rem;
  }

  form {
    margin-top: 0;
  }

  div {
    justify-content: space-between;
    input {
      max-width: 900px;
    }
  }
}
